.top{
		margin-top:15%;

}
.linkHome{
	color: white;
}
body{
	background-image: url('../img/back.jpg');background-size: 100%  cover;
	color: black;
	background-repeat: no-repeat;
	font-size: 22px;
	font-family: "tw cen mt";
}
input,button{
	background-color: #00aced;
}
p{
	text-align: justify;
	font-size: 22px;
	font-family: "tw cen mt";
}
a{
	text-decoration: none;
	color: black;
}
.bgAbout{

}

.bgAide{
	color: white;
}