.top{
		margin-top:15%;

}
.linkHome{
	color: white;
}
body{
	font-size: 22px;

	font-family: "tw cen mt";
}
input,button{
	background-color: #00aced;
}
p{
	text-align: justify;
	font-size: 22px;
	font-family: "tw cen mt";
}
a{
	text-decoration: none;
	color: black;
}